examples/planetesimals2/movie/movie_output/*
examples/planetesimals2/instruments/*
examples/planetesimals2/output/*
examples/planetesimals2/saved_output/*
examples/planetesimals2/Ecomp/*
examples/planetesimals2/debug/*
*.o
*.so
*.pyc
*.pdf
*.bin
nbody
.DS_Store
error.txt
tests/testall.html
tests/*/*.txt
tests/*/*.png
tests/*/nbody*
tests/*/rebound*
examples/*/rebound*
doc/html/*
doc/latex/*
doc/Doxyfile
others/mercury6
others/mercury6.tar
others/*/
MANIFEST
rebound.egg-info
venv/
dist/
build/
src/rebound
.ipynb_checkpoints
others/*.tar.gz
others/*.tar
doc/doxygen/xml/
doc/_build/
doc/c_examples.rst
doc/doxygen/html/
doc/ipython
doc/search.json
problems/
